
  /*
  selector{
    propiedades>:valor}
    */
    body{
      background:rgb(255, 133, 245)
    }
    #logotipo{
      width:200px;
      height:200px;
      background:rgb(44, 31, 223)
    }
    .Encuentros{
      margin: 10px;
      width: 200px;
      height: 200px;
      background:rgb(255, 255, 255)
    }
